<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css"  integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
	<style>
            .error {
                color: red;
            }
        </style>    
</head>
	<body>
        
		<div class="jumbotron">
		  <div class="container">
			  
				   <a href="/blog"><h2>Main Page</h2></a><a href="/newpost"><h2>New Post</h2></a>
				   <a href="/blog"><h2>Local Weather Forecast</h2></a>
		   </div>
			  
		  </div>
		</div> 
			
			
		
		<br>
		<br>
		

		<div class="bottom">
			{% with messages = get_flashed_messages() %}
				{% for message in messages %}
				<p><h6><font color="red">{{message}}</font></h6></p>
				{% endfor %}
			{% endwith %}
			
			{% block content %}
			{% endblock %}
		</div>
		<br><br>
		
			<br><br>


		 <div id="copyright" class="footer bordereffect">
			<p>&copy; 2017 BDB Blogging Analytics--  Brian Bailey</p>
			<a href="#BDBailey, Eureka, Mo ">Click for contact information</a>
	     </div>

	</body>
</html>